

.container { 
	padding: 15px;
    background-color: rgba(0, 0, 0, 0.56);
	display: flex;
    flex-direction: row;
	justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}



.button {
	margin-left: 20px;
	border-radius: 3px;
	height: 31px;
	color: black;
	background-color: rgba(45, 226, 0, 0.795);
	box-shadow: 0 5px 5px rgb(255, 255, 255);
	&:hover {
		color: rgba(45, 226, 0, 0.795);
		background-color: black;
		box-shadow: 0 5px 5px rgba(45, 226, 0, 0.795);
	}
}

.buttonLogOut {
	
	
	
    /* margin-top: 20px; */
    border-radius: 3px;
    height: 31px;
    color: black;
    background-color:  rgb(207, 20, 20);
    box-shadow: 0 5px 5px white;
    &:hover {
        box-shadow: 0 5px 5px rgb(207, 20, 20);
    }
}




.circulo{
	width: 150px;
	height: 150px;
	background-color: #DAA520;
	border-radius: 50%;
}
.diamante2::after{
	content:'';
	width: 0px;
	height: 0;
	display: block;
	position: absolute;
	top: 29px;
	border-right: 90px solid transparent;
	border-top:  100px solid tomato;
	border-left: 90px solid transparent;
}

.ribbon{
	width: 0px;
  height: 100px;
    border-left: 50px solid #d9534f;
    border-right: 50px solid #d9534f;
    border-bottom: 35px solid transparent;
}

/* ribbon tiene forma de etiqueta, la puedo usar en la parte superior izq para colocar el nombre del personaje */